@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,300;0,500;0,600;0,700;1,400&family=Barlow:wght@300;400;500;600&family=IBM+Plex+Sans:wght@100&family=Sahitya&display=swap');

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  
  a {
    color: inherit;
    // text-decoration: underline;
  }
}

#app {
  background-color: var(--beige);
  // min-height: 100vh;
  font-family: 'Barlow Semi Condensed';
  font-weight: 300;
  text-decoration: none;
}

/* navbar */

#navbar {
  position: fixed;
  z-index: 2;
  width: 100%;
  text-align: center;
  background-color: inherit;
}

.title {
  padding-top: 1rem;
  width: 21.2rem;
  height: 8rem;
  object-fit: cover;
}

.logo {
  width: 11rem;
}

#menu {
  width: 60%;
  margin: auto;
  color: var(--dark-indigo);
  text-align: center;
  padding-bottom: 2rem;
}

.menu-links {
  vertical-align: middle;
  font-weight: 300;
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--dark-indigo);
  margin: 1rem;
}

#insta {
  color: var(--beige);
}


/* footer */

#footer {
  position: relative;
  top: 20rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 20rem;
  background-color: var(--dark-indigo);
  color: var(--beige);
}

.footer-right {
  display: flex;
  align-items: center;

  a {
    margin-right: 30px;
    color: var(--beige);
    font-size: 2.2rem;
  }
}

.newsletter {
  width: 25rem;
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;

  label {
    padding-bottom: 10px;
    font-weight: 400;
  }

  input {
    width: 17rem;
    padding: 10px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    line-height: 1.5rem;
    font-size: 1rem;

    &:focus {
      outline: none;
    }
  }
}

.submit-btn {
  transform: translate(0, 2px);
  font-family: 'Barlow Semi Condensed';
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5rem;
  background-color: var(--beige);
  padding: 10px;
  border: none;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
  }

  &:active {
    background-color: var(--light-lavender);
  }
}

.complete {
  margin-top: 10px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 3rem;
    height: 3rem;
  }
}

.paw {
  width: 3rem;
  height: 3rem;
}

/* home */

.intro {
  position: relative;
  top: 9rem;
  height: calc(100vh - 9rem);
  width: 100%;
  overflow: hidden;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.home-content {
  > div {

    &:first-child {
      margin-top: 5rem;
    }

    margin-top: 9rem;
    margin-bottom: 9rem;
    max-height: 30rem;
  }

  img {
    object-fit: cover;
    height: 20rem;
    width: 20rem;
  }
}

#page-content {
  position: relative;
  top: 13rem;
  max-width: 60%;
  margin: auto;
  align-items: center;
  text-align: center;
}

#home-subscribe {
  border-radius: 0px;
  padding: 2rem;
  color: var(--beige);
  background-color: var(--green);
  height: 15rem;
  display: flex;
  justify-content: space-evenly;

  button:active {
    background-color: var(--dark-indigo);
    color: var(--beige);
  }

  img {
    width: 3rem;
    height: 3rem;
  }
}

.subscribe-desc {
  width: 25rem;
  font-size: 1.5rem;
  font-weight: 300;
}

.featured-looks {
  width: 75%;
  margin: auto;
}



/* shop */

.shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  div {
    margin: 20px;
  }
  
  img {
    object-fit: cover;
    height: 20rem;
    width: 20rem;
  }
}

/* ambassadors */

.ambassadors {
  img {
    width: 22rem;
    margin: 10px;
  }
}

.rep-launch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // flex-wrap: wrap;
}

/* shipping and returns */

.shipping-returns {
  width: 60%;
  background-color: var(--green);
  padding: 5rem;
  border-radius: 2px;
  color: var(--beige);

  li {
    text-align: left;
    line-height: 2.5rem;
  }

  div {
    text-align: left;
  }
}

/* about */

.about-page {
  font-size: 1.4rem;
}

.about {
  color: var(--dark-indigo);
  display: flex;
  padding: 6rem;
  background-color: var(--light-lavender);
  border-radius: 2px;
  
  > img {
    border: 5px;
    border-color: white;
    border-radius: 2px;
    height: 40rem;
    width: 50%;
    object-fit: cover;
  }
}

.materials {
  padding-top: 9rem;
  padding-bottom: 9rem;
  margin-bottom: 9rem;
  margin-top: 9rem;
  background-color: var(--green);
  color: var(--beige);

  div {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  img {
    width: 20rem;
    padding-left: 3px;
    padding-right: 3px;
  }
}

.care {
  padding: 0 10rem;
}

.contact-us {
  margin-top: 5rem;

  label {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    border-radius: 4px;
  }

  input {
    margin-top: 10px;
    min-width: 18rem;
    font-family: 'Barlow Semi Condensed';
    font-weight: 600;
    font-size: 1.2rem;
    padding: 10px;
  }

  textarea {
    font-family: 'Barlow Semi Condensed';
    font-weight: 600;
    font-size: 1.2rem;
    padding: 10px;
    margin-top: 10px;
    min-width: 30rem;
    min-height: 10rem;
    resize: both;
  }

  button {
    margin-top: 10px;
    border-radius: 4px;
  }
}

#contact-btn {
  background-color: var(--beige-dark);
  
    &:active {
    background-color: var(--lavender);
  }
}

.sizing {
  img {
    width: 40rem;
    height: 40rem;
    object-fit: cover;
  }
}

/* social media */

.insta-preview {
  margin: 20px;
  border: none;
  border-radius: 5px;
  width: 25rem;
  height: 25rem;
}

/* style based classes */

.font-medium {
  font-size: 1.2rem;
}

.font-large {
  font-size: 1.5rem;
}

.font-larger {
  font-size: 1.7rem;
}

.font-giant {
  font-size: 2.0rem;
}

.font-title {
  font-size: 2.5rem;
}

.left-align-with-indent {
  text-align: left;
  text-indent: 2rem;
}

.extra-spacing {
  line-height: 2.2rem;
}

.space-before {
  padding-top: 30px;
}

.space-after {
  padding-bottom: 30px;
}

.padding-left {
  padding-left: 5rem;
}

.padding-bottom {
  padding-bottom: 5rem;
}

.margin-before {
  margin-top: 30px;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-evenly {
  display: flex;
  justify-content: space-evenly;
}

.flex-center-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex-center-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.center {
  margin: auto;
}

.shift-img-down {
  object-position: top;
}