@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200&family=Barlow:wght@300;400;500;600&family=IBM+Plex+Sans:wght@100&family=Sahitya&display=swap');

#main {
  background-color: var(--beige);
  min-height: 100vh;
  font-family: 'Barlow Semi Condensed';
  font-weight: 600;
}

#navbar {
  position: fixed;
  z-index: 2;
  width: 100%;
  text-align: center;
  background-color: inherit;
}

.title {
  padding-top: 1rem;
  width: 21.2rem;
  height: 8rem;
  object-fit: cover;
}

#menu {
  width: 60%;
  margin: auto;
  color: var(--dark-indigo);
  text-align: center;
  padding-bottom: 2rem;
}

.menu_links {
  vertical-align: middle;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--dark-indigo);
  margin: 1rem;
}

.intro {
  position: relative;
  top: 9rem;
  height: calc(100vh - 9rem);
  width: 100%;
  overflow: hidden;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.content {
  position: relative;
  top: 9rem;
  max-width: 60%;
  margin: auto;
  align-items: center;
  text-align: center;

  > div {
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 25rem;
  }

  img {
    object-fit: cover;
    height: 20rem;
    width: 20rem;
  }
}

.insta-preview {
  margin: 20px;
  border: none;
  border-radius: 5px;
  width: 25rem;
  height: 25rem;
}

#page-content {
  position: relative;
  top: 13rem;
  max-width: 60%;
  margin: auto;
  align-items: center;
  text-align: center;
}

.shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  div {
    margin: 20px;
  }

  img {
    object-fit: cover;
    height: 20rem;
    width: 20rem;
  }
}

.about {
  display: flex;
  
  img {
    height: 45rem;
    width: 28rem;
    object-fit: cover;
  }
}

/* style based classes */

.font-large {
  font-size: larger;
}

.font-giant {
  font-size: 2rem;
}

.left-align-with-indent {
  text-align: left;
  text-indent: 2rem;
}

.extra-spacing {
  line-height: 2.2rem;
}

.break-before {
  padding-top: 30px;
}

.break-after {
  padding-bottom: 30px;
}

.padding-left {
  padding-left: 30px;
}