:root {
  --beige: #faf9f5;
  --beige-dark: #e3dfd1;
  --light-lavender: #fbf7fc;
  --indigo: #345185;
  --dark-indigo: #111b2e;
  --periwinkle: #cfe1ff;
  --periwinkle-dark: #84a7e0;
  margin: 0;

  --large-font: 1.3rem;
  --medium-font: 1.2rem;
}