:root {
  --beige: #faf7f9;
  --beige-dark: #e3dfd1;
  --beige: #fffffa;
  --light-lavender: #fef0fb;
  --lavender: #d5c1e6;
  --indigo: #3a4861;
  --dark-indigo: #13223d;
  --green: #9fbf99;
  margin: 0;

  --large-font: 1.3rem;
  --medium-font: 1.2rem;
}