<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div>From <%= @name %> at <%= @email %></div>
    <p>
      <%= @message %>
    </p>
    <p>Sent at <%= DateTime.now %> </p>
  </body>
</html>