<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>From <%= @inquiry.name %> at <%= @inquiry.email %></h1>
    <p>
      <%= @inquiry.message %>
    </p>
    <p>Sent at <%= DateTime.now %> </p>
  </body>
</html>